@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.HoteBar ul{
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem 2rem 5rem;
    text-decoration: none;
}

ul li{
    font-size: 20px;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: #009416;
    padding: 1rem;
    border-radius: 5px;
}

ul :hover{
    cursor: pointer;
    background-color: #009416;
    color: white;
    transition: 0.5s;
}